<!DOCTYPE html>
<html>
{% include 'templates/header.html' %}
<body>
<div id="wrap">
	 {% include 'templates/navbar.html' %}
	<div class="container" style="padding-top: 60px;">
		 {% if success %}
		<div class="alert alert-success">
			<strong>Hey! {{success}}</strong>
		</div>
		{% endif %}
        {% if info %}
		<div class="alert alert-info">
			<strong>Bilgi</strong>{{info}}
		</div>
		{% endif %}
        {% if warning %}
		<div class="alert alert-warning">
			<strong>Uyari</strong>{{warning}}
		</div>
		{% endif %}
        {% if error %}
		<div class="alert alert-danger">
			<strong>Hata</strong>{{error}}
		</div>
		{% endif %}
		<ul id="myTab" class="nav nav-tabs nav-justified">
			<li class="active"><a href="#trendler" data-toggle="tab" id=trendler_tab>Trendler </a></li>
			<li><a href="#yeniler" data-toggle="tab" id="yeniler_tab">Yeni Eklenenler</a></li>
			<li><a href="#iyiler" data-toggle="tab" id="iyiler_tab">Haftanın En İyileri </a></li>
			<li><a href="#secmeler" data-toggle="tab" id="secilenler_tab">Seçilenler</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade active in" id="trendler">
				<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>
					</th>
					<th>
					</th>
				</tr>
				</thead>
				<tbody id="trendler_body">
				</tbody>
				</table>
				<button type="button" class="btn btn-default" disabled=1>Daha Fazla...</button>
			</div>
			<div class="tab-pane fade" id="yeniler" data-template>
				<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>
					</th>
					<th>
					</th>
				</tr>
				</thead>
				<tbody id="yeniler_body">
				</tbody>
				</table>
				<button type="button" class="btn btn-default" disabled=1>Daha Fazla...</button>
			</div>
			<div class="tab-pane fade" id="iyiler">
				<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>
					</th>
					<th>
					</th>
				</tr>
				</thead>
				<tbody id="iyiler_body">
				</tbody>
				</table>
				<button type="button" class="btn btn-default" disabled=1>Daha Fazla...</button>
			</div>
			<div class="tab-pane fade" id="secmeler">
				<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>
					</th>
					<th>
					</th>
				</tr>
				</thead>
				<tbody id="iyiler_body">
				</tbody>
				</table>
				<button type="button" class="btn btn-default" disabled=1>Daha Fazla...</bu
			</div>
		</div>
	</div>
</div>
<!-- Modals -->
 {% include 'templates/modals.html'%}
<!-- Footer -->
 {% include 'templates/footer.html' %}
<!-- Custom Scripts -->
</body>
</html>