<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Signup Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style></head>

  <body style="">

    <div class="container">

      <form class="form-signin" action="/signup" method="post">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input name="email" type="text" class="form-control" placeholder="Email Adresi" autofocus="">
        <input name="username" type="text" class="form-control" placeholder="Kulanici Adi" autofocus="">
        <input name="name" type="text" class="form-control" placeholder="Isim" autofocus="">
        <input name="lastname" type="text" class="form-control" placeholder="lastname" autofocus="">
        <input name="sex" type="text" class="form-control" placeholder="sex" autofocus="">
        <input name="password" type="password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

<div id="directions_extension" style="display: none;"></div><div class="vimiumReset vimiumHUD" style="right: 150px; opacity: 0; display: none;"></div></body></html>